<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--<container name="containerOne">
        <register type="IDAO.IRoomTyoeDAO,IDAO" mapTo="DAO.RoomTyoeDAO,DAO" name="RoomTyoeDAO"></register>
        <register type="IDAO.IDAOS,IDAO" mapTo="DAO.DAOS,DAO" name="DAOS"></register>
      </container>-->
      <container name="containerTow">
        <register type="IBLL.IBookBLL,IBLL" mapTo="BLL.BookBLL,BLL" name="BookBLL"/>
      </container>
    </containers>
  </unity>
</configuration>