<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--用户管理-->
      <container name="containerOne">
        <register type="IDAO.RoleUsIDAO,IDAO" mapTo="BAL.RoleUsBAL,BAL" name="RoleUsBAL"></register>       
      </container>
      <container name="containerOne">
        <register type="IDAO.config_file_first_kindIDAO,IDAO" mapTo="BAL.config_file_first_kindDao,BAL" name="config_file_first_kindDao"></register>
        <register type="IDAO.config_file_second_kindIDAO,IDAO" mapTo="BAL.config_file_second_kindDao,BAL" name="config_file_second_kindDao"></register>
        <register type="IDAO.config_file_third_kindIDAO,IDAO" mapTo="BAL.config_file_third_kindDao,BAL" name="config_file_third_kindDao"></register>      
        <register type="IDAO.config_majorIDAO,IDAO" mapTo="BAL.config_majorDao,BAL" name="config_majorDao"></register>
        <register type="IDAO.config_major_kindIDAO,IDAO" mapTo="BAL.config_major_kindDao,BAL" name="config_major_kindDao"></register>
        <register type="IDAO.engage_major_releaseIDAO,IDAO" mapTo="BAL.engage_major_releaseDao,BAL" name="engage_major_releaseDao"></register>
        <register type="IDAO.engage_resumeIDAO,IDAO" mapTo="BAL.engage_resumeDao,BAL" name="engage_resumeDao"></register>
        <register type="IDAO.config_public_charIDAO,IDAO" mapTo="BAL.config_public_charDao,BAL" name="config_public_charDao"></register>
        <register type="IDAO.engage_interviewIDAO,IDAO" mapTo="BAL.engage_interviewDao,BAL" name="engage_interviewDao"></register>
        <register type="IDAO.userIDAO,IDAO" mapTo="BAL.userDao,BAL" name="userDao"></register>
        <register type="IDAO.salary_standard_detailsIDAO,IDAO" mapTo="BAL.salary_standard_detailsDao,BAL" name="salary_standard_detailsDao"></register>
        <register type="IDAO.human_fileIDAO,IDAO" mapTo="BAL.human_fileDao,BAL" name="human_fileDao"></register>
      </container>
      <container name="containerTwo">
        <register type="IBLL.RoleUsIBLL,IBLL" mapTo="BLL.RoleUsBLL,BLL" name="RoleUsBLL"></register>      
      </container>
      <!--角色管理-->
      <container name="JiaoOne">
        <register type="IDAO.RoleRigIDAO,IDAO" mapTo="BAL.RoleRigBAL,BAL" name="RoleRigBAL"></register>
      </container>
      <container name="JiaoTwo">
        <register type="IBLL.RoleRigIBLL,IBLL" mapTo="BLL.RoleRigBLL,BLL" name="RoleRigBLL"></register>
      </container>

      <!--登录管理-->
      <container name="DlOne">
        <register type="IDAO.UserIDAO,IDAO" mapTo="BAL.UserBAL,BAL" name="UserBAL"></register>
      </container>
      <container name="DlTow">
        <register type="IBLL.UserIBLL,IBLL" mapTo="BLL.UserBLL,BLL" name="UserBLL"></register>
      </container>

      <!--调动管理-->
      <container name="DdOne">
        <register type="IDAO.human_fileIDAO,IDAO" mapTo="BAL.human_fileBAL,BAL" name="human_fileBAL"></register>
      </container>
      <container name="DdTow">
        <register type="IBLL.human_fileIBLL,IBLL" mapTo="BLL.human_fileBLL,BLL" name="human_fileBLL"></register>
      </container>

      <!--调动管理-->
      <container name="DDOne">
        <register type="IDAO.major_changeIDAO,IDAO" mapTo="BAL.major_changeBAL,BAL" name="major_changeBAL"></register>
      </container>
      <container name="DDTow">
        <register type="IBLL.major_changeIBLL,IBLL" mapTo="BLL.major_changeBLL,BLL" name="major_changeBLL"></register>
      </container>

        <register type="IBLL.config_file_first_kindIBLL,IBLL" mapTo="BLL.config_file_first_kindServices,BLL" name="config_file_first_kindServices"></register>
        <register type="IBLL.config_file_second_kindIBLL,IBLL" mapTo="BLL.config_file_second_kindServices,BLL" name="config_file_second_kindServices"></register>
        <register type="IBLL.config_file_third_kindIBLL,IBLL" mapTo="BLL.config_file_third_kindServices,BLL" name="config_file_third_kindServices"></register>
        <register type="IBLL.config_majorIBLL,IBLL" mapTo="BLL.config_majorServices,BLL" name="config_majorServices"></register>
        <register type="IBLL.config_major_kindIBLL,IBLL" mapTo="BLL.config_major_kindServices,BLL" name="config_major_kindServices"></register>
        <register type="IBLL.engage_major_releaseIBLL,IBLL" mapTo="BLL.engage_major_releaseServices,BLL" name="engage_major_releaseServices"></register>
        <register type="IBLL.engage_resumeIBLL,IBLL" mapTo="BLL.engage_resumeServices,BLL" name="engage_resumeServices"></register>
        <register type="IBLL.config_public_charIBLL,IBLL" mapTo="BLL.config_public_charServices,BLL" name="config_public_charServices"></register>
        <register type="IBLL.engage_interviewIBLL,IBLL" mapTo="BLL.engage_interviewServices,BLL" name="engage_interviewServices"></register>
        <register type="IBLL.userIBLL,IBLL" mapTo="BLL.userServices,BLL" name="userServices"></register>
        <register type="IBLL.salary_standard_detailsIIBLL,IBLL" mapTo="BLL.salary_standard_detailsServices,BLL" name="salary_standard_detailsServices"></register>
        <register type="IBLL.human_fileIBLL,IBLL" mapTo="BLL.human_fileServices,BLL" name="human_fileServices"></register>
      </container>
    </containers>
  </unity>
</configuration>