<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--<container name="containerOne">
        <register type="IDAO.AdminIDao,IDAO" mapTo="BAL.AdminDao,BAL" name="AdminDao"></register>       
      </container>--><!--
      <container name="containerTwo">
        <register type="IBLL.AdminIBLL,IBLL" mapTo="BLL.AdminServices,BLL" name="AdminServices"></register>      
      </container>-->
    </containers>
  </unity>
</configuration>