<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--<container name="containerOne">
        <register type="IDAO.AdminIDao,IDAO" mapTo="BAL.AdminDao,BAL" name="AdminDao"></register>       
      </container>--><!--
      <container name="containerTwo">
        <register type="IBLL.AdminIBLL,IBLL" mapTo="BLL.AdminServices,BLL" name="AdminServices"></register>      
      </container>-->
      <container name="SalaryStandard">
        <register type="IDAO.SalaryStandardIDAO,IDAO" mapTo="BAL.SalaryStandardDAO,BAL" name="SalaryStandardDAO"></register>
        <register type="IBLL.SalaryStandardIBLL,IBLL" mapTo="BLL.SalaryStandardBLL,BLL" name="SalaryStandardBLL"></register>
      </container>
      <container name="SalaryStandardDetails">
        <register type="IDAO.SalaryStandardDetailsIDAO,IDAO" mapTo="BAL.SalaryStandardDetailsDAO,BAL" name="SalaryStandardDetailsDAO"></register>
        <register type="IBLL.SalaryStandardDetailsIBLL,IBLL" mapTo="BLL.SalaryStandardDetailsBLL,BLL" name="SalaryStandardDetailsBLL"></register>
      </container>
      <container name="human_file">
        <register type="IDAO.human_fileIDAO,IDAO" mapTo="BAL.human_fileDAO,BAL" name="human_fileDAO"></register>
        <register type="IBLL.human_fileIBLL,IBLL" mapTo="BLL.human_fileBLL,BLL" name="human_fileBLL"></register>
      </container>
      <container name="config_file_first_kind">
        <register type="IDAO.config_file_first_kindIDAO,IDAO" mapTo="BAL.config_file_first_kindDAO,BAL" name="config_file_first_kindDAO"></register>
        <register type="IBLL.config_file_first_kindIBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
      </container>
      <container name="config_file_second_kind">
        <register type="IDAO.config_file_second_kindIDAO,IDAO" mapTo="BAL.config_file_second_kindDAO,BAL" name="config_file_second_kindDAO"></register>
        <register type="IBLL.config_file_second_kindIBLL,IBLL" mapTo="BLL.config_file_second_kindBLL,BLL" name="config_file_second_kindBLL"></register>
      </container>
      <container name="config_file_third_kind">
        <register type="IDAO.config_file_third_kindIDAO,IDAO" mapTo="BAL.config_file_third_kindDAO,BAL" name="config_file_third_kindDAO"></register>
        <register type="IBLL.config_file_third_kindIBLL,IBLL" mapTo="BLL.config_file_third_kindBLL,BLL" name="config_file_third_kindBLL"></register>
      </container>
      <container name="salary_grant">
        <register type="IDAO.salary_grantIDAO,IDAO" mapTo="BAL.salary_grantDAO,BAL" name="salary_grantDAO"></register>
        <register type="IBLL.salary_grantIBLL,IBLL" mapTo="BLL.salary_grantBLL,BLL" name="salary_grantBLL"></register>
      </container>
     <container name="salary_grant_details">
        <register type="IDAO.salary_grant_detailsIDAO,IDAO" mapTo="BAL.salary_grant_detailsDAO,BAL" name="salary_grant_detailsDAO"></register>
        <register type="IBLL.salary_grant_detailsIBLL,IBLL" mapTo="BLL.salary_grant_detailsBLL,BLL" name="salary_grant_detailsBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>