<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <!--商品表-->
    <containers>
      <!--<container name="Products">
        <register type="IDAL.ProductsIDAL,IDAL" mapTo="DAL.ProductsDALSqlserver,DAL" name="ProductsDALSqlserver"></register>
        <register type="IBLL.ProductsIBLL,IBLL" mapTo="BLL.ProductsBLLSqlserver,BLL" name="ProductsBLLSqlserver"></register>
      </container>-->
      <container name="Student">
        <register type="IDAO.StudentIDAO,IDAO" mapTo="DAO.StudentDAO,DAO" name="StudentDAO"></register>
        <register type="IBLL.StudentIBLL,IBLL" mapTo="BLL.StudentBLL,BLL" name="StudentBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>